<tr>
  <td colspan="2"><div align="right"><a name="{{lineNo}}"></a><a href="#{{lineNo}}">{{lineNo}}</a></div></td>
  <td class="codeLine"><span class="comment">Tokens: {{tokensForLine}}</span></td>
</tr>
